@media (min-width: 768px) and (max-width: 1360px) {
  .all{
      margin-left: 150px;
  }
}

@media (min-width: 575.98px) {
  .burger {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {

  // header
  h1.ml15 {
    top: 40%;
  }

  // technology 
  .skills {
    height: 130px;
  }

  .ico {
    padding-right: 0;
    max-width: 900px;

  }

}

@media (min-width: 768px) and (max-width: 991.98px) {

  // header
  h1.ml15 {
    top: 20%;
  }

  h2.text {
    font-size: 25px;
  }

  // technology 
  .skills {
    height: 110px;
  }

  .ico {
    padding-right: 0;
    max-width: 660px;
  }

  h6.name, h6.name1 {
    font-size: 25px;

  }

  h6.heading {
    font-size: 45px;
  }

  

}

@media (min-width: 768px) {

  // about me
  h2.text {
    display: inline-block;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {

  // aboutme 
  h1.ml15 {
    font-size: 2.8em;
    left: 8%;
    top: 20%;
    
  }

  h2.text {
    font-size: 25px;
    margin-left: 40px;
  }

  .active {
    height: 350px;
  }

  // technology
  .ico {
    max-width: 460px;
  }

  .all {
    margin-left: 125px;
  }

  .skills {
    height: 80px;
    max-width: 480px;
  }
  h6.name, h6.name1 {
    font-size: 20px;
    padding-bottom: 20px;
  }
  h6.heading {
    font-size: 45px;
  }

  //contact 
  h3, h4 {
    font-size: 25px;
  }

  h5 {
    font-size: 15px;
  }
}

@media (max-width: 575.98px) {
  // header

#bg {
  height: 100vh;
}
  
  .menu {
    width: 270px;
  }

  .menu.show {
    width: 0;
  }

  h1.ml15 {
    font-size: 2em;
    top: 40%;
    left: 0;
    width: 100%;
  }

.player.show {
  right: 0;
}

  //aboutme
  .aboutme {
    height: 300px;
  }

  h2.text {
    font-size: 22px;
  }

  .aboutTitle.active {
    height: 50px;
  }
  
  img.active, img.aboutme {
    height: 300px;
  }

  // technology
h6.heading {
  margin-left: 0;
  font-size: 38px;
  
}
  .skills {
    height: 60px;
    max-width: 480px;
  }

  h6.name, h6.name1 {
    font-size: 20px;
  }

  .all {
    padding-right: 0;
  }
  //contact
  h3 {
    font-size: 25px;
  }

  h4 {
    font-size: 25px;
  }

  form div {
    padding: 15px 0;
  }

  // footer
h5 {
  font-size: 12px;
}
}