#technology {
    background-image: url(/images/Background.jpg);
    background-repeat: repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    height: 100%;
    min-height: 735px;
}

.heading {
    opacity: 0; 
    transform: scale(0);
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    // margin-bottom: 100px;
    margin: 0 0 100px 50px;
    color: white;
    font-family: 'Saira Stencil One', cursive;
    transition: 3s;
  }

  .heading.active {
   opacity: 1;
   transform: scale(1);
  
  }

  .skills {
    height: 140px;  
}

  h6.name {
    color: white;
    text-align: left;
    font-size: 30px;
  }
  h6.name1 {
    color: white;
    padding-left: 20px;
    font-size: 30px;
  }

  .all {
    transform: translateX(-1650px);
    transition: .6s;
  }

  .all.active {
    transform: translateX(0);
  }

