main {
    
    height: 100vh;
    min-height: 688px;
}

.aboutme {
    background-size: contain;
    height: 400px;
    float: left;
    transform: translateX(-100vh);
    transition: 1s;
}


.aboutme.active {
    transform: translateX(0);
}

.aboutTitle {
    height: 0;
    transition: 1s;
}

.aboutTitle.active {
    height: 75px;
}

h2.text {
    font-size: 30px;
    text-align: center;
    color: white;
    z-index: 999;   
}

  main {
    position: relative;
    overflow: hidden;
  }

  main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    z-index: -1;
    background-image: url(https://image.freepik.com/darmowe-wektory/czarny-wzor-tekstury-z-wlokna-weglowego-w-jasnych-odcieniach_1017-21351.jpg);  /*  image is red but blue shine 
                                                             through so becomes purple */
  }
  
  .content {
    position: relative;
    color: white;
  }
